<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DataAhaConnectionString" connectionString="Host=db;Port=5432;Database=data_aha_local;Username=postgres;Password=DataAhaLocal!2026;SSL Mode=Disable;Trust Server Certificate=true;Pooling=true" providerName="Npgsql" />
  </connectionStrings>

  <appSettings>
    <add key="AllowedHosts" value="localhost,127.0.0.1,dataaha.local" />
    <add key="OtpMode" value="dev" />
    <add key="OtpProviderUrl" value="" />
    <add key="OtpProviderToken" value="" />
    <add key="OtpDevDebugEnabled" value="true" />
    <add key="OtpCooldownSeconds" value="45" />
    <add key="OtpMaxPerDay" value="20" />
    <add key="OtpMaxVerifyAttempts" value="5" />
    <add key="AppAuthSecret" value="dataaha-local-dev-secret-change-me" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <system.web>
    <globalization culture="vi-VN" uiCulture="vi-VN" />
    <authentication mode="None" />
    <authorization>
      <allow users="*" />
    </authorization>
    <pages enableEventValidation="false" validateRequest="false" />
    <compilation debug="true" targetFramework="4.7.2" batch="false" />
    <customErrors mode="Off" />
    <httpRuntime targetFramework="4.7.2" requestValidationMode="2.0" maxRequestLength="10240" executionTimeout="600" />
    <sessionState timeout="120" cookieless="UseCookies" />
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <directoryBrowse enabled="false" />
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
